# Local test binaries
test-results.txt
*.test
sound-builder-server
coverage.html
coverage.out
startup_test_logs.txt

# Credentials
.google_credentials.json
.env

# Cloud Build Artifacts
.gcloudignore
build_metadata.json
